body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000;
	perspective: 200px;
}

.loading {
	width: 100px;
	height: 100px;
	background-color: #FFF;
	border-radius: 50px;
	animation: loading 0.1s linear infinite;
}

@keyframes loading {
	0% { transform: rotateY(0deg) rotateY(0deg); }

	50% { transform: rotateY(0deg) rotateY(180deg); }

	100% { transform: rotateY(180deg) rotateY(180deg); }
}